extend default

block content
  script(src='https://www.gstatic.com/charts/loader.js')

  h2.
    !{title}

  //- Top-left: Time
  div.left
    div.content#time
      text Time
      div.chart#time_chart
  //- TODO - Chart

  //- Top-right: Risks
  div.right
    div.content#risks
      text Risks
      ul
        - each risk in JSON.parse(risk_array)
          li #{risk.description}
  //- TODO - Tabulate - or order - and colour risks

  //- Reset floating
  div.clear

  //- Center - both columns: Gantt
  div
    div.content#gantt
      text Gantt
      div.chart#gantt_chart

  //- Bottom-left: Notes
  div.left
    div.content#notes
      text Notes
      ul
        - each note in JSON.parse(note_array)
          li #{note.description}
  //- TODO - expandable to see sub-notes

  //- Bottom-right: Actions
  div.right
    div.content#actions
      text Actions
      ul
        - each action in JSON.parse(action_array)
          li #{action.description}
  //- TODO - action ownership and dates

  //- Reset floating
  div.clear

  //- script.
  script.
    var task_array = !{task_array};
    var time_data = !{time_data};
  script(src="scripts/charts.js")
